<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0abab5;">
    <a class="navbar-brand mb-0 h1" href="{{ url_for('user.search') }}"></a>
      <img src="https://cdn.onlinewebfonts.com/svg/img_448734.png" width=30px height=30px alt="https://w0.pngwave.com/png/342/85/penrose-triangle-shape-inverted-triangle-png-clip-art.png">
      Ренессанс страхование
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('user.search', next=request.full_path) }}">Проверить клиента</a>
        </li> 
        <li class="nav-item"></li>
        <a class="nav-link" href="{{ url_for('user.registration', next=request.full_path) }}">Обновить базу данных</a>
      </li> 
      <li class="nav-item"></li>
      <a class="nav-link" href="{{ url_for('user.wanted', next=request.full_path) }}">Потенциальные мошенники</a>
    </li> 
      </ul>
    </div>
  </nav>
